table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: #d4f0fd;
}

table th,table td{
  text-align: center;
  width: 20%;
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

.text-center {
  text-align: center;;
}
.inline-flex{
  width: 1706px;
  display: inline-flex;
}

.default-form{
  width: 33%;
  padding: 15px 0;
  text-align: center;
}

.priod-form{
  width: 33%;
  text-align: center;
  margin-top: 30px;
}

.task-form{
  width: 31%;
  text-align: center;
  margin-top: 25px;
}

.add-form{
  margin-top: 70px;
}

.add-btn {
  margin-top: 50px;
  margin-bottom: 50px;
}
